
    <form class="edit" action="/events/edit_text/{{id}}" method="post" hx-target="this">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="name" value="{{name}}"><br>
        <label for="description">Description</label>
        <br>
        <input type="text" name="description" id="description" value="{{description}}"><br>
        <button type="submit">Edit</button>
    </form>
    <button class="x" hx-post="/events/delete" hx-vars='{"id": "{{id}}"}' hx-confirm="Are you sure?">X</button>
