    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>


<style>

    
    
    body{
        margin: 0%;
        

    }
    main {
                margin: 8%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 20px;
            }
    .user {
        transition: 1s;
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        background-color: white;
        padding: 20px;
        margin: 20px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 10px lightgray;
        margin-bottom: 10px;
    }

    .user h2 {
        font-size: 24px;
        font-weight: bold;
    }

    .user p {
        font-size: 18px;
    }
    nav{
        z-index: 1;
                background-color: black;
                color: white;
                display: flex;
                justify-content: space-around;
                position: sticky;
                top: 0%;
            }

            nav .nav-left, nav .nav-right, nav .nav-middle{
                display: flex;
                justify-content: space-around;
                p{
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }

            @keyframes bounce {
                50%{
                    transform: scale(1.1) translateY(-10px);
                }
            }
            .user:hover{
                text-shadow: 1px 1px 1px ;
                animation: bounce 2s;
                border: 5px solid black;
            }
</style>

<nav>
    <div class="nav-right">
        <p>Users</p>
        <p>Users</p>
        <p>Users</p>
    </div>
    <div class="nav-middle">
        <p>Users</p>
        <p>Users</p>
        <p>Users</p>
    </div>
    <div class="nav-left">
        <p>Users</p>
        <p>Users</p>
        <p>Users</p>
    </div>
</nav>
<main>
    {% for user in users %}
    <div class="user">
        <img src="https://picsum.photos/100/100/?random" alt="">
        <h2>{{ user[0] }}</h2>
        <p>{{ user[1] }}</p>
        <h3>availabilities today</h3>
        {% for availability in get_availabilies(user[2], today) %}
            <p>{{ availability[0] }} - {{ availability[1] }} </p>
        {% endfor %}
        <button hx-get="/shared_availability/{{user[2]}}/{{today}}" hx-swap="outerHtml">schedule<br>compatibility</button>
        
    </div>
    {% endfor %}
</main>
